<%- include('header') %>

        <div class="container">
            <div id="signupbox"  class="center-block">
                <h1 style="text-align: center;">Add New Password</h1>
                <% if(success != ''){ %>
                       <center><h4 class="text-success">Note!: <%= success %></h4></center>
                   <% } %>
                <hr>
                <form class="form-horizontal" method="POST" action="/add-new-password" style="text-align: center;">
                <div class="col-md-4">
                    <label > Password category:</label>
                </div>
                <div class="col-md-8">
                    <select class="roundinput" name="pass_cat" required>
                        <option value="">~Choose Category~</option>
                        <% if(records.length > 0){ records.forEach(function(row){ %>
                        <option value="<%= row.password_category %>"><%= row.password_category %></option>
                        <% })} %>
                    </select>
                    <hr>
                </div>
                <div class="col-md-4">
                    <label >Project Name :</label>
                </div>
                <div class="col-md-8">
                    <input type="textbox" class="roundinput" name="project_name" placeholder="Enter Your Project Name"  required>
                    <hr>
                </div>
                <div class="col-md-3">
                    <label>Password Details :</label>
                </div>
                <div class="col-md-9">
                <textarea style="width: 100%;" id="editor" name="pass_details" placeholder="Password Details" required ></textarea>
                <hr>
                </div>
                  
                    <input class="btn btn-success" value="Add passwords" type="submit" placeholder="Enter" /><br />
                    <br />
                    <p><a href="/view-all-password"> View All Passwords</a></p>
                </form>
            </div>
        </div>

        <script>
            CKEDITOR.replace("editor");
        </script>
    <%- include('footer') %>
